@font-face	{
	font-family: defaultBodyFont;
	src: url(DefaultFont.otf);
}

body	{
	font-family: defaultBodyFont;
	font-size: 200%;
	background-color: #d2d2e0;
	margin: 0;
}

#Header	{
	line-height: 100%;
}

#Title	{
	position: relative;
	padding-left: 2%;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#Menu ul	{
	list-style-type: none;
	margin: 0;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	width: 96%;
	background-color: #c3c3d5;
	display: flex;
	justify-content: space-between;
}

#Menu li	{
	display: inline;
}

#Menu a	{
	color: white;
	text-decoration: none;
}

#Menu a:hover	{
	background-color: #000000;
}

.active	{
	background-color: #85e085;
}